* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

// Menubar
.menubar {
    .p-menuitem {
        margin: 0;
    
        .p-menuitem-icon {
            color: var(--gray-700);
        }
    
        .p-menuitem-text {
            font-size: $fs-14;
        }
    }   
}