/* ===== Margin ===== */
$m-4: 0.25rem;
$m-8: 0.5rem;
$m-10: 0.625rem;
$m-12: 0.75rem;
$m-16: 1rem;
$m-20: 1.25rem;
$m-24: 1.5rem;
$m-28: 1.75rem;
$m-32: 2rem;
$m-48: 3rem;
$m-64: 4rem;
$m-80: 5rem;
$m-96: 6rem;
$m-100: 6.25rem;
$m-112: 7rem;
$m-128: 8rem;
$m-144: 9rem;
$m-224: 14rem;

/* ===== Padding ===== */
$p-4: 0.25rem;
$p-8: 0.5rem;
$p-10: 0.625rem;
$p-12: 0.75rem;
$p-16: 1rem;
$p-20: 1.25rem;
$p-24: 1.5rem;
$p-28: 1.75rem;
$p-32: 2rem;
$p-48: 3rem;
$p-64: 4rem;
$p-80: 5rem;
$p-96: 6rem;
$p-100: 6.25rem;
$p-112: 7rem;
$p-128: 8rem;
$p-144: 9rem;
$p-224: 14rem;

/* ===== Gap ===== */
$g-4: 0.25rem;
$g-8: 0.5rem;
$g-10: 0.625rem;
$g-12: 0.75rem;
$g-16: 1rem;
$g-20: 1.25rem;
$g-24: 1.5rem;
$g-28: 1.75rem;
$g-32: 2rem;
$g-48: 3rem;
$g-64: 4rem;
$g-80: 5rem;
$g-96: 6rem;
$g-100: 6.25rem;
$g-112: 7rem;
$g-128: 8rem;
$g-144: 9rem;
$g-224: 14rem;
